rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /images/{year}/{month}/{day}/{file} {
      allow read: if request.auth != null;
      allow write: if false; // upload apenas pelo backend (Admin SDK)
    }
  }
}
